:root {
  --main-bg-color: hsl(27, 100%, 98%);
  --nav-bg-color: #ff9aa2;
  --button-bg-color: #ffb347;
  --footer-bg-color: #f67280;
  --overlay-bg-color: rgba(255, 255, 255, 0.8);
  --text-color: #3a2e2e;
  --overlay-text-color: #5c3c3c;
  --button-hover-bg-color: #e88e96;
  --box-shadow-light: 0 0 10px rgba(0, 0, 0, 0.1);
  --box-shadow-lightest: 0 0 10px rgba(0, 0, 0, 0.05);
  font-family: "Playfair Display";
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: italic;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Playfair Display";
  background-color: var(--main-bg-color);
  color: var(--text-color);
}

nav {
  background-color: var(--nav-bg-color);
  padding: 1rem;
  text-align: center;
  font-family: "Playfair Display";
  width: 100%;
  
}

nav a {
  color: white;
  margin: 0 1rem;
  text-decoration: none;
  font-weight: bold;
  size: 15px;
}

.hero {
  height: 90vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.overlay {
  background-color: var(--overlay-bg-color);
  padding: 2rem;
  border-radius: 1rem;
  color: var(--overlay-text-color);
  font-family: "Playfair Display";
}

.button {
  background-color: var(--button-bg-color);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
}

button {
  background-color: var(--nav-bg-color);
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  padding: 0.75rem; 
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Playfair Display";
}

button:hover {
  background-color: var(--button-hover-bg-color);
}

footer {
  background-color: var(--footer-bg-color);
  color: white;
  text-align: center;
  padding: 2rem;
  width: 100%;
  font-family: "Playfair Display";
}

.service-grid, .portfolio-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 2rem;
}

.service-card, .portfolio-grid img {
  background-color: #fff;
  padding: 1rem;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-light);
  width: 300px;
  text-align: center;
}

.contact form {
 
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: var(--box-shadow-lightest);
}

input, select, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1rem;
  font-family: "Playfair Display";
}

.responsive {
  width: 100%;
  max-width: 600px;
  display: block;
  margin: 2rem auto;
}

.order-page {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.html, body {
  height: 100%;
}

main.contact {
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  padding-top: 50px;

}
.section {
  font-family: "Playfair Display";
}
.objednat {
  padding-bottom: 20px;
  align-items: center;
  padding-left: 25px;
}
.order-page2 {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.overlay2 {
  background-color: var(--overlay-bg-color);
  padding: 2rm;
  border-radius: 1rem;
  color: var(--overlay-text-color);
  font-family: "Playfair Display";
  max-width: 2000px;
  margin: auto;

  
}
.nase {
  margin-bottom: 15px;
}
.modal {
  display: none;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.5);
}

.modal-content {
  background-color: #fff;
  margin: 10% auto;
  padding: 2rem;
  border-radius: 1rem;
  width: 300px;
  text-align: center;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
   font-family: "Playfair Display", serif;

}

.close {
  float: right;
  font-size: 1.5rem;
  cursor: pointer;
}
.button2 {
   background-color: var(--button-bg-color);
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 2rem;
  font-weight: bold;
  display: inline-block;
  margin-top: 1rem;
  font-family: "Playfair Display", serif;
}

